<!DOCTYPE html>
html(lang="en")
    head
        title Connect4 | WebGL
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
    body
        section(id="root-element")
        script(type="text/javascript", src="/js/app.js?v=" + version)
        script(type="text/javascript").
            var node = document.getElementById('root-element');
            var app = Elm.Connect4.embed(node);
